<?xml version="1.0" encoding="utf-8"?>
<!--
Programmer: Luis Perez
Class ID: lperez9518
Lab4 - Perez Auto Service
CIS 2610: Business Mobile Programming
Spring 2017
Due date: 04/6/17
Date completed: 04/6/17

*************************************
* Program Explanation
* Nothing done here but very important information for app to connect to android device
************************************
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.wmich.lab4lperez9518">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>