<?xml version="1.0" encoding="utf-8"?>

<!--
Programmer: Luis Perez
Class ID: lperez9518
EX4 - Math Help
CIS 2610: Business Mobile Programming
Spring 2017
Due date: 02/17/17
Date completed: 02/17/17

*************************************
* Program Explanation
*Required to make the android system understand what to do.
*Iconis the icon image that will show in the app. Label is the name it will show on the phone screen.
*************************************
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.wmich.ex4lperez9518">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>