<?xml version="1.0" encoding="utf-8"?>
<!--
Programmer: Luis Perez
Class ID: lperez9518
Lab 5 - Health Tracker
CIS 2610: Business Mobile Programming
Spring 2017
Due date: 04/21/17
Date completed: 04/21/17

*************************************
* Program Explanation
* The androidManifest is an important file because it telling what the app needs from the phone
************************************
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.wmich.lab5lperez9518">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ResultActivity"></activity>
    </application>

</manifest>